/* src/components/TransportCompanyCard.css */
.company-card {
    border: 1px solid #ddd;
    padding: 47px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.company-logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.routes {
    margin-top: 10px;
}

.route {
    margin: 5px 0;
}

.price {
    font-weight: bold;
    margin-top: 10px;
}

/* src/components/TransportCompanies.css */
.transport-companies {
    padding: 20px;
}

.companies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
